
.mycalc{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 10px;
    background-color: rgb(255,45,45);
    margin-left: 35%;
    margin-top: 3%;
}
.all-btn{
    display: flex;
}
.all-btn-numbers{
    display: flex;
    width: 210px;
    flex-wrap: wrap;
}
.all-btn-signs{
    display: flex;
    flex-direction: column;
}
.all-btn-numbers button{
    background-color: white;
    border: none;
    margin: 10px;
    color: rgb(255,45,45);
    font-size: 20px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-btn-signs button{
    background-color: gold;
    border: none;
    margin: 10px;
    color: rgb(255,45,45);
    font-size: 20px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-btn-signs button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgb(226, 220, 220);
}
.all-btn-numbers button:hover{
    cursor: pointer;
    background-color: black;
    box-shadow: 0px 0px 20px 5px rgb(231, 225, 225);
}
.btn-extra{
    display: flex;
}
.btn-extra button{
    background-color: rgb(2, 126, 2);
    color: white;
}
.btn-clear-equals{
   display: flex;
   justify-content: space-evenly;
   width: 100%;
}
.btn-clear-equals button{
    width: 100px;
    font-size: 30px;
    padding: 5px;
    margin: 10px 5px;
    border-radius: 10px;
    border: none;
}
.pak{
    color: rgb(255,45,45);
    background-color: black;
}
.pak:hover{
    background-color: white;
    cursor: pointer;
}
input{
    width: 80%;
    margin: 10px 0px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    border: none;
}